.content {
  margin: 50px auto;
  width: 600px;
}

h1 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
}

p {
  margin: 10px 0;
}

.final {
  color: red;
}

h2 {
  margin: 8px 0;
  font-size: 18px;
  font-weight: 600;
}

.first input {
  width: 100%;
  box-sizing: border-box;
}

.first select {
  width: 100%;
  padding: 1px 3px 5px;
}

.seasonForm strong {
  margin: 5px 5px 5px 0;
  display: inline-block;
  font-weight: 600;
}
